<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>You are about to delete user : <%= user.email %> , enter the password</h2>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <input type="password" name="password" placeholder="enter password to delete">
        <button>Delete</button>
    </form>
</body>
</html>